.charging {
    padding: 20px; 
	top: 15%;
    left: 15%;
    width: 60%;
    height: 60%;
    opacity: 0.9;
    filter: alpha(opacity=90); 
    text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}
.charging h1 {
	color: #fff;
	color: rgba(255, 255, 255, 0.75);
	font: 36px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
.charging small {
	color: #fff;
	color: rgba(255, 255, 255, 0.75);
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align: bottom;
	text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
.charging span {
	color: rgba(64, 200, 255, 0.75);
	font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	text-shadow: none;
	text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #87F,
        0 0 0.2em #87F
}
